<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burger.js"></script>
        {{!-- Materialize --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/burger_style.css">
        {{!-- GOogle Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
