<div class="container">
    <h1 class="center">Burger!</h1>
    <div class="row">
        <div class="col s6">
            <h3 class="center">Fresh out of the grill</h3>
            <ul>
                {{#each burgers}} {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="eat btn right" data-id="{{id}}" data-devoured="{{devoured}}">Eat? </button>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col s6">
            <h3 class="center">Devoured</h3>
            <ul>
                {{#each burgers}} {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s6 push-s3">
            <h3 class="center">Order a burger</h3>
            <form class="create-form">
                <div class="form-group">
                    <label for="burgs">Burger Name:</label>
                    <input type="text" id="burgs" burger_name="name">
                </div>
                <div class="center-align">
                    <button class="btn" id="order" type="submit">Order Burger</button>
                </div>
            </form>
        </div>
    </div>
</div>